.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.loginContent{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 11rem;
}

.titleLogin {
    text-align: center;
}

.warning{
    font-weight: bold;
    margin-top: .5rem;
}
