@page "/Login"
@inject IAccountManagement Account
@inject NavigationManager Navigation

<PageTitle>Sign In</PageTitle>

<div class="login">
    <div class="loginContent">
        <h2 class="titleRegisterLogin">Sign In</h2>

        <EditForm class="form" Model="_credentials" OnValidSubmit="LoginUser">
            <div class="formField">
                <label for="">Username:</label>
                <InputText id="inputText" @bind-value="_credentials.Email"/>
            </div>

            <div class="formField">
                <label for="">Password:</label>
                <InputText id="inputText" @bind-value="_credentials.Password" type="password"/>
            </div>

            <button class="btn submitBtn" type="submit">Login</button>
        </EditForm>
    </div>
</div>

@code {

    private LoginModel _credentials = new();

    private async Task LoginUser()
    {
        var response = await Account.LoginAsync(_credentials.Email, _credentials.Password);

        if (response.Succeeded)
        {
            Console.WriteLine("Login successful!");
            Navigation.NavigateTo("/");
        }
    }

    public class LoginModel
    {
        public string Email { get; set; } = string.Empty;
        public string Password { get; set; } = string.Empty;
    }

}