@page "/"
@using Smarticipate.Web.Authentication
@* @inject IAccountManagement Account *@
@* @inject NavigationManager Navigation *@

<div class="hero">
<h1>Welcome to Smarticipate!</h1>
<AuthorizeView>
    <Authorized>

    </Authorized>
    <NotAuthorized>
        <h3>Are you an educator? Start by registering or sign in if you already have one</h3>

        <NavLink class="link" href="/Register">Register</NavLink>
        <NavLink class="link" href="/Login">Login</NavLink>
    </NotAuthorized>
</AuthorizeView>
    
    <h3>Are you a student? Join a live session here!</h3>
    <NavLink class="link" href="/Student">Join session</NavLink>
</div>



