@page "/"
<PageTitle>Home</PageTitle>


<div class="home">
    <div class="hero">
        <h1 class="welcome">Welcome to Smarticipate!</h1>
        <div class="heroContent">
            <AuthorizeView>
                <Authorized>

                </Authorized>
                <NotAuthorized>
                    <div class="educator">
                        <h2>Are you an <span class="educatorSpan">educator</span>?</h2>
                        <h4>Start by registering or sign in if you already have one</h4>
                        <span class="btnSpan">
                        <a href="/Register">
                            <NavButton>
                                Register
                            </NavButton>
                        </a>
                        <a href="/Login">
                            <NavButton>Sign In</NavButton>
                        </a>
                    </span>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
            <div class="student">
                <h2>Are you a <span class="studentSpan">student</span>?</h2>
                <h4>Join a live session here!</h4>
                <a href="/Student">
                    <NavButton>Join session</NavButton>
                </a>
            </div>
        </div>
    </div>
</div>



