.signInPrompt {
    margin-top: -6rem;
}

#signIn {
    font-family: var(--ekwarg);
    font-size: 1.25rem;
    font-style: italic;
    color: var(--red);
    text-decoration: underline;
    text-underline-offset: var(--underline-offest);


    &:visited {
        color: var(--teal)
    }
}

.teacherSession {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teacherSessionContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-items: center;
}

.btnWithIcon {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 13rem;
}

.inactiveSessionContainer {
    margin-top: -6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.activeSessionContainer {
    display: grid;
    grid-template-rows: 2rem auto;
    align-self: start;
    padding: 2rem 0 0 2.5rem;
    width: 100%;
    height: 100%;
}

.sessionInfo {
    grid-row: 1;
    grid-column: 1 /-1;
    display: flex;
    align-items: center;
    height: max-content;
    gap: .5rem;
}

.activeSessionTitle {
    text-decoration: underline;
    text-underline-offset: var(--underline-offest);
}

.timer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-self: center;
    align-items: center;
    margin-top: -6rem;
    justify-self: center;
    justify-items: center;
    justify-content: center;
    gap: 5rem;
    width: 80%;
}

.timerInput {
    width: 13rem;
    height: 6rem;
    font-family: var(--ekwarg);
    background-color: var(--beige);
    border-radius: var(--border-radius);
    padding: var(--padding-box);
    outline: none;
    border: 2px solid var(--dark);
    font-size: 3rem;
    color: var(--teal);
    text-align: end;
    margin-bottom: .5rem;

    &:focus {
        border: 2px solid var(--red)
    }

    &::-webkit-inner-spin-button {
        opacity: 1;
        margin-left: .75rem;
        padding: 0 2px;
        filter: brightness(1.5) sepia(0.2) saturate(0.3) hue-rotate(30deg);
    }
}

.questionTimer {
    font-size: 2rem;
}


.countdown {
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
}

.countDownRest {
    position: absolute;
    margin-bottom: 3.5rem;
    font-family: var(--ekwarg);
}

.progressCircle {
    position: absolute;
}

/* ############# CHART ############# */
.responseChartContainer {
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 400px;
    background-color: var(--beige);
    border-radius: var(--border-radius);
    padding: 1.5rem 1.5rem 4rem 1.5rem !important;
    border: 2px solid var(--dark);
}

.responseChartContainer h3 {
    margin-bottom: 0.5rem;
    font-family: var(--ekwarg);
    color: var(--dark);
}

::deep .mud-chart {
    transform: scale(1);
    transform-origin: center center;
    margin: 10px auto;
    height: 100% !important;
    width: 100%;
}

::deep(.mud-chart-legend) {
    font-size: 1.4rem !important;
    padding-top: 10px !important;
}

::deep .mud-charts-xaxis text,
::deep .mud-charts-yaxis text
{
    font-size: 1.5rem !important;
    font-weight: bold !important;
}

::deep .mud-charts-yaxis text{
    text-anchor: middle;
}

::deep .mud-charts-xaxis text:first-of-type {
    text-anchor: start;
}

::deep .mud-charts-xaxis text:last-of-type {
    text-anchor: end;
}

::deep(.mud-chart-legend-text) {
    font-size: 1.25rem !important; /* Adjust to desired size */
}

::deep .mud-charts-grid,
::deep .mud-charts-grid{
    stroke: var(--dark);
    stroke-width: 2px;
}

::deep(.mud-chart rect.mud-bar-char-bar[data-index="0"]) {
    fill: var(--red) !important;
}

::deep(.mud-chart rect.mud-bar-char-bar[data-index="1"]) {
    fill: var(--teal) !important;
}

::deep(.mud-chart rect.mud-bar-char-bar[data-index="2"]) {
    fill: var(--orange) !important;
}

::deep(.mud-chart-legend-item:nth-child(1) .mud-chart-legend-marker) {
    background-color: var(--red) !important;
}

::deep(.mud-chart-legend-item:nth-child(2) .mud-chart-legend-marker) {
    background-color: var(--teal) !important;
}

::deep(.mud-chart-legend-item:nth-child(3) .mud-chart-legend-marker) {
    background-color: var(--orange) !important;
}

.studentCount {
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    font-size: 12px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: .5rem;

    font-size: 1.5rem;
    font-weight: 700;
    font-family: var(--ekwarg);
}
